@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    text-decoration: none;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

nav {
    padding: 1em;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #44444479;
    backdrop-filter: blur(30px);
}

form {
    display: flex;
    padding: 40px;
    flex-direction: column;
    row-gap: 25px;
    background-color: #feffff68;
    backdrop-filter: blur(30px);
    border-radius: 1em;
}

.input-box input,
.btn {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
}

input:focus-visible{
    outline-color:aqua;
}

.btn {
    background-color: #b2ede9;
    transition: 0.3s linear;
    cursor: pointer;
}
.btn:hover{
    background-color: #7772ff;
}

.left a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.right {
    display: flex;
    gap: 1.3em;
    cursor: pointer;
}
